html{
    height: 100%; /*makes sure our HTML takes up 100% of the browser window*/
    font-size: 100%;
}

div {
    box-sizing: border-box;
}

h1{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
    color: #4b4747;
    margin-left: 10px;
	}

h2{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
    color: #eeeeee;
    margin-left: 10px;
	}


h5{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
    color: #4b4747;
    margin-bottom: 0;
	}

ul, li{
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: #4b4747;
    list-style-type: none;
	margin: 10px;
    padding: 0;
}

header {
    width: 100%;
    height: 25px;
    background-color: cadetblue;
}

.modal-head {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
    color: #4b4747;
    width: 100%;
    height: 25%;
    background-color: darkgray;
    padding: 5px;
    align-content: center;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 600px;   
}
.container2 {
    display: flex;
    justify-content: space-around;  
    align-items: center;
}


.room {
    background-color: #4b4747;
    width: 75%;
    float: right;
}

.message {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
    color: #eeeeee;
    width: 100%;
}

table {
    border-collapse: collapse;
}



.msg-row {
    
    border-bottom: 1px solid #eeeeee;
}

.username {
    font-weight: bold;
    padding-top: 20px;
}

tr:nth-child(even){background-color: gray}

.time {
    float: right;
}


.btnNewRoom {
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.modal {
  background-color: cadetblue;
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 25px;
  border: 2px solid gray;
  
}

aside {
    width: 25%;
    height: 100%;
    float: left;
    padding-left: 10px;
    background-color: darkgray;
}


