<header>
</header>
    
    <section class="container" >
    <aside class="item">
        <div ng-controller: "HomeCtrl">
             <div class = "container2"><h1 class="item1">Bloc Chat</h1>
                <button type="button" class="btnNewRoom item1" ng-click="open()">New Room</button>
            </div>
             <ul>
                <li ng-repeat="item in roomList">
                    {{ item.$value }}
                </li>
            </ul>
        </div>
    </aside>
    <section class="item room">
    </section>
    </section>
